<html lang="en">

<head>
</head>

<body class="background">

	<!-- creates the fost rectangle in the center of the page  -->
	<div class="frostbox"></div>
	
	<!-- centers the welcome  -->
	<div class="center-welcome"> 
		<h1 class="link-to-text-color">Welcome!</h1> 
	</div>
	
	<!-- centers the buttons  -->
	<div class="center-buttons"> 

		<!-- creates the buttons and use some rails to link to either the blog or project pages  -->
		<button type="button" class="btn btn-outline-dark" >
			<div id="override-bootstrap-color">
				<%= link_to 'My Blog', controller: 'articles' %>
			</div>
		</button>

		<button type="button" class="btn btn-outline-dark" >
			<div id="override-bootstrap-color">
				<%= link_to 'My Projects', controller: 'projects' %>
			</div>
		</button>

	</div>

</body>