// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.blocktext {
    margin: 0;
    position: absolute;
    top: 85%;
    left: 48%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }


p.blocktext {
    margin: 0;
    position: absolute;
    top: 95%;
    left: 48%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}